// Color Definitions
$white: #ffffff;
$light_orange: #fca121;
$orange: #fc6d26;
$red_orange: #db3b21;
$light_purple: #6e49cb;
$purple: #380d7d;
$gray: #757575;
$dark_gray: #2e2e2e;
$light_gray: #f1f1f1;
