// Footer

.footer {
    float:left;
    position: relative;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    background: $purple;
    color: #fff;
    z-index: 9;

    h3 {
        margin: 0.5em 0;
        color: lighten($purple, 50%);
    }

    a {
        display: block;
        margin: 0.5em 0;
        color: #fff;
        @include transition(all 0.3s);

        &:hover {
            color: $light_orange;
            text-decoration: none;
        }
    }

    .container {
        margin: auto;
    }

    .footer-logo {
        position: absolute;
        top: -36px;
        left: 50%;
        margin-left: -32.5px;
    }

    ul {
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
    }
    .text-center {
        text-align: center;
    }
    .footer-social {
        padding-bottom: 20px;

        li {
            display: inline-block;
            width: 45px;
            font-size: 26px;
        }
    }

}
