// Mixins

@mixin box-shadow($left, $top, $blur, $color, $inset: false) {
    @if $inset {
    	-webkit-box-shadow:inset $left $top $blur $color;
    	-moz-box-shadow:inset $left $top $blur $color;
    	box-shadow:inset $left $top $blur $color;
    } @else {
    	-webkit-box-shadow: $left $top $blur $color;
    	-moz-box-shadow: $left $top $blur $color;
    	box-shadow: $left $top $blur $color;
    }
}

@mixin borderRadius($top-left, $top-right, $bottom-right, $bottom-left) {
	-moz-border-radius: $top-left $top-right $bottom-right $bottom-left;
	-webkit-border-radius: $top-left $top-right $bottom-right $bottom-left;
	border-radius: $top-left $top-right $bottom-right $bottom-left;
}

@mixin transition($transition) {
	-moz-transition:    $transition;
	-o-transition:      $transition;
	-webkit-transition: $transition;
	transition:         $transition;
}
