// Top Nav Bar

.navbar {
    @include box-shadow(0, 0, 15px, rgba(0,0,0,0.25));
    text-align: left;
    padding: 0 1em;
}

.navbar-brand {
    position: relative;
    top: 3px;
}

a.nav-link {
    padding-left: 1em !important;
    padding-right: 1em !important;
    @media only screen and (max-width : 1000px) {
        font-size: 14px;
        padding-left: 0.4em !important;
        padding-right: 0.4em !important;
    }

    @media only screen and (max-width : 768px) {
        font-size: 1em;
        padding-left: 1em !important;
        padding-right: 1em !important;
    }

}
