@import "mixins.scss";
@import "colors.scss";
@import "fonts.scss";
@import "topnav.scss";
@import "footer.scss";

body {
    background: $light_gray;
    background: url('/images/background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: $font_family;
    color: $gray;
    text-align: left;
    line-height: 1.42857;
    font-size: 16px;
}

header {
    float:left;
    width: 100%;
    padding: 70px 30px 90px 30px;
    background: $purple;
    margin-top: 60px;
    border-bottom: 1px solid #dcdcdc;

    @media only screen and (max-width : 768px) {
        padding: 30px 25px 80px 25px;
    }

    h1 {
        font-family: $font_family_headline;
        color: #fff;
        text-align: center;
        font-size: 3em;
        line-height: 1;
        @media only screen and (max-width : 768px) {
            font-size: 2em;
            line-height: 1.2;
        }
    }

    p {
        text-align: center;
        font-size: 1.2em;
        color: lighten($purple, 50%);
        margin: 0;
        @media only screen and (max-width : 768px) {
            font-size: 1em;
            line-height: 1.2;
        }
    }

}

section {
    float:left;
    width:100%;
    padding: 40px;
    @media only screen and (max-width : 768px) {
        padding: 25px;
    }
}

.purple-link {
    font-weight: 600;
    color: $light_purple !important;
    &:hover {
        text-decoration: underline;
    }
}


// Main Section

section#webcast {

    min-height: 600px;

    .content {
        width: 100%;
        max-width: 1100px;
        margin: auto;
        position: relative;
        top: -80px;
        background: #fff;
        padding: 0;
        @include box-shadow(0, 40px, 30px, rgba(76,76,76,0.35));
        @include borderRadius(5px, 5px, 5px, 5px);
    }

    a {
        color: $orange;
        text-decoration: underline;
        font-size: 1.1em;
        &:hover {
            text-decoration: none;
        }
    }

    .content-padding {
        padding: 40px;
        @media only screen and (max-width : 768px) {
            padding: 25px;
        }
    }

    h2 {
        color: $orange;
        font-weight: 600;
        @media only screen and (max-width : 768px) {
            font-size: 1.4em;
        }
    }

    h3 {
        color: $purple;
        font-size: 1.5em;
    }

    p {
        font-size: 17px;
    }

    .sidebar {
        background: #ececec;
        @include borderRadius(0px, 5px, 5px, 0px);
        border-left: 1px solid darken($light_gray, 5%);

        @media only screen and (max-width : 768px) {
            @include borderRadius(5px, 5px, 0, 0);
            border-left: 0;
        }

        p {
            margin-bottom: 1.5em;
        }

        small {
            margin-top:0;
        }

        .form-check {
            margin-bottom: 1.5em;
        }
    }

    label {
        font-weight: 600;
        color: $purple;
    }

    .form-control {
        &:focus {
            color: #495057;
            background-color: #fff;
            border-color: #6e49cb;
            outline: 0;
            box-shadow: 0 0 5px 0.2rem rgba(110,73,203,0.2);
        }
    }

    button {
        position: relative;
        background-color: $purple;
        border-color: $purple;
        &:hover {
            background-color: $light_purple;
            border-color: $light_purple;
        }
        &:focus {
            border-color: #6e49cb;
            outline: 0;
            box-shadow: 0 0 5px 0.2rem rgba(110,73,203,0.2);
        }
        &:active {
            top:2px;
        }
    }

}
