<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title><%= current_page.data.title %></title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css?family=Lato:400,700|Source+Sans+Pro:400,700" rel="stylesheet">
        <%= stylesheet_link_tag "webcast" %>

        <meta content="Walk through the exciting new updates in GitLab 10.6 and participate in live a Q&A session" name=description />
        <meta content="Walk through the exciting new updates in GitLab 10.6 and participate in live a Q&A session" name="twitter:description"/>
        <meta content="Walk through the exciting new updates in GitLab 10.6 and participate in live a Q&A session" name="og:description"/>
        <meta content=GitLab property="og:site_name"/>
        <meta content="Live Webcast: What's New in GitLab 10.6" property="og:title"/>
        <meta content=article property="og:type"/>
        <meta content="https://webcast.contacts.live" property="og:url"/>
        <meta content="https://about.gitlab.com/images/tweets/gitlab-10-6-released.png" property="og:image"/>
        <meta content="https://about.gitlab.com/images/tweets/gitlab-10-6-released.png" name="twitter:image"/>
        <meta content=summary_large_image name="twitter:card"/>
        <meta content="@GitLab" name="twitter:site"/>
        <meta content="Walk through the exciting new updates in GitLab 10.6 and participate in live a Q&A session" name="twitter:title"/>
        <meta content="@GitLab" name="twitter:creator"/>
        <link href="/ico/favicon.ico" rel="shortcut icon"/>
        <link href="/ico/apple-touch-icon-57x57.png" rel=apple-touch-icon sizes=57x57 />
        <link href="/ico/apple-touch-icon-114x114.png" rel=apple-touch-icon sizes=114x114 />
        <link href="/ico/apple-touch-icon-72x72.png" rel=apple-touch-icon sizes=72x72 />
        <link href="/ico/apple-touch-icon-144x144.png" rel=apple-touch-icon sizes=144x144 />
        <link href="/ico/apple-touch-icon-60x60.png" rel=apple-touch-icon sizes=60x60 />
        <link href="/ico/apple-touch-icon-120x120.png" rel=apple-touch-icon sizes=120x120 />
        <link href="/ico/apple-touch-icon-76x76.png" rel=apple-touch-icon sizes=76x76 />
        <link href="/ico/apple-touch-icon-152x152.png" rel=apple-touch-icon sizes=152x152 />
        <link href="/ico/apple-touch-icon-180x180.png" rel=apple-touch-icon sizes=180x180 />
        <link href="/ico/favicon-192x192.png" rel=icon sizes=192x192 type="image/png"/>
        <link href="/ico/favicon-160x160.png" rel=icon sizes=160x160 type="image/png"/>
        <link href="/ico/favicon-96x96.png" rel=icon sizes=96x96 type="image/png"/>
        <link href="/ico/favicon-16x16.png" rel=icon sizes=16x16 type="image/png"/>
        <link href="/ico/favicon-32x32.png" rel=icon sizes=32x32 type="image/png"/>
        <meta content="#554488" name=msapplication-TileColor />
        <meta content="/ico/mstile-144x144.png" name=msapplication-TileImage />
        <meta content="/ico/browserconfig.xml" name=msapplication-config />
    </head>
    <body>
        <%= yield %>
        <%= javascript_include_tag "webcast" %>
    </body>
</html>
