<footer class="footer">

    <svg width="65" height="60" viewBox="0 0 210 194" class="footer-logo"> <path d="M105.0614,193.655 L105.0614,193.655 L143.7014,74.734 L66.4214,74.734 L105.0614,193.655 L105.0614,193.655 Z" fill="#E24329" class="logo-svg-shape logo-dark-orange-shape"></path> <path d="M105.0614,193.6548 L66.4214,74.7338 L12.2684,74.7338 L105.0614,193.6548 Z" fill="#FC6D26" class="logo-svg-shape logo-orange-shape"></path> <path d="M12.2685,74.7341 L12.2685,74.7341 L0.5265,110.8731 C-0.5445,114.1691 0.6285,117.7801 3.4325,119.8171 L105.0615,193.6551 L12.2685,74.7341 Z" fill="#FCA326" class="logo-svg-shape logo-light-orange-shape"></path> <path d="M12.2685,74.7342 L66.4215,74.7342 L43.1485,3.1092 C41.9515,-0.5768 36.7375,-0.5758 35.5405,3.1092 L12.2685,74.7342 Z" fill="#E24329" class="logo-svg-shape logo-dark-orange-shape"></path> <path d="M105.0614,193.6548 L143.7014,74.7338 L197.8544,74.7338 L105.0614,193.6548 Z" fill="#FC6D26" class="logo-svg-shape logo-orange-shape"></path> <path d="M197.8544,74.7341 L197.8544,74.7341 L209.5964,110.8731 C210.6674,114.1691 209.4944,117.7801 206.6904,119.8171 L105.0614,193.6551 L197.8544,74.7341 Z" fill="#FCA326" class="logo-svg-shape logo-light-orange-shape"></path> <path d="M197.8544,74.7342 L143.7014,74.7342 L166.9744,3.1092 C168.1714,-0.5768 173.3854,-0.5758 174.5824,3.1092 L197.8544,74.7342 Z" fill="#E24329" class="logo-svg-shape logo-dark-orange-shape"></path> </svg>

    <div class="container">

        <ul class="text-center footer-social">
            <li><a href="https://twitter.com/gitlab"><i class="fa fa-twitter"></i> <span class="sr-only">Twitter</span> </a></li>
            <li><a href="https://www.facebook.com/gitlab"><i class="fa fa-facebook"></i> <span class="sr-only">Facebook</span> </a></li>
            <li> <a href="https://www.youtube.com/channel/UCnMGQ8QHMAnVIsI3xJrihhg"><i class="fa fa-youtube"></i> <span class="sr-only">YouTube</span></a></li>
            <li> <a href="https://www.linkedin.com/company/gitlab-com"><i class="fa fa-linkedin"></i> <span class="sr-only">LinkedIn</span> </a></li>
        </ul>

        <div class="row">

            <div class="col-md-6 col-lg-2 offset-lg-2">
                <h3 class="footer-link-title">Products</h3>
                <ul class="animated footer-links">
                    <li><a href="https://about.gitlab.com/features">Features</a></li> <li><a href="/installation">Installation</a></li>
                    <li><a href="https://about.gitlab.com/gitlab-com/">GitLab.com</a></li> <li><a href="/pricing">Pricing</a></li>
                    <li><a href="https://about.gitlab.com/releases">Releases</a></li>
                </ul>
            </div>

            <div class="col-md-6 col-lg-2">
                <h3 class="footer-link-title">Services</h3>
                <ul class="animated footer-links">
                    <li><a href="https://about.gitlab.com/resellers/">Resellers</a></li>
                    <li><a href="https://about.gitlab.com/services/">Services</a></li>
                </ul>
            </div>

            <div class="col-md-6 col-lg-2">
                <h3 class="footer-link-title">Community</h3>
                <ul class="animated footer-links">
                    <li><a href="https://about.gitlab.com/events/">Events</a></li> <li><a href="/core-team/">Core Team</a></li>
                    <li><a href="http://contributors.gitlab.com/">Contributors</a></li>
                    <li><a href="https://about.gitlab.com/find-a-speaker/">Find a Speaker</a></li>
                    <li><a href="https://docs.gitlab.com/">Documentation</a></li>
                    <li><a href="https://about.gitlab.com/getting-help/">Getting Help</a></li>
                    <li><a href="https://about.gitlab.com/contributing/">Contributing</a></li>
                    <li><a href="https://about.gitlab.com/applications/">Applications</a></li>
                    <li><a href="https://about.gitlab.com/mvp/">Hall of Fame</a></li>
                </ul>
            </div>

            <div class="col-md-6 col-lg-2">
                <h3 class="footer-link-title">Company</h3>
                <ul class="footer-links">
                    <li><a href="https://gitlab.com/groups/gitlab-org">Source Code</a></li> <li><a href="/blog/">Blog</a></li>
                    <li><a href="https://about.gitlab.com/customers/">Customers</a></li> <li><a href="/press/">Press and Logos</a></li>
                    <li><a href="https://shop.gitlab.com">Shop</a></li> <li><a href="/about/">About Us</a></li>
                    <li><a href="https://about.gitlab.com/team/">Team</a></li> <li><a href="/direction/">Direction</a></li>
                    <li><a href="https://about.gitlab.com/handbook/">Handbook</a></li> <li><a href="/jobs/">Jobs</a></li>
                    <li><a href="https://about.gitlab.com/terms/">Terms</a></li> <li><a href="/contact/">Contact Us</a></li>
                </ul>
            </div>

        </div>

    </div>

</footer>
