---
title: Live Webcast - What's New in GitLab 10.6
---

<%= partial "partials/nav" %>

<header>
    <h1><span>Live Webcast:</span> What's New in GitLab 10.6</h1>
    <p>2018/04/15, 2PM MST - Walk through the exciting new updates and participate in live a Q&A session</p>
</header>

<section id="webcast">

    <div class="content">

        <!--<div class="container">-->

            <div class="row no-gutters">

                <div class="col-md-7 col-sm-12 order-md-1 order-2 content-padding">

                    <h3>Introducing GitLab CI/CD for GitHub</h3>
                    <p>Continuous integration, continuous delivery, and continuous deployment form the backbone of modern DevOps. GitLab features built-in CI/CD that has received a lot of positive attention from developers, enterprises, and analysts alike.</p>

                    <h3>Kubernetes on GitLab keeps getting better</h3>
                    <p>GitLab continues to invest in integrating with containerization. In 10.4 we release Kubernetes Cluster Integration and GKE Integration to General Availability. With this release, we make it even easier for users to use Kubernetes with GitLab.</p>

                    <p><a href="https://about.gitlab.com/2018/03/22/gitlab-10-6-released" target="_blank">Read the full release notes for GitLab 10.6</a></p>

                </div>

                <div class="col-md-5 col-sm-12 order-md-2 order-1 sidebar content-padding">

                    <h2>Register for Reminders</h2>
                    <p>We'll send you a reminder an hour before the event. If you can't make it to the live webcast, we'll send you a recording after it's over.</p>

                    <div id="cta">
                        <form method="post" class="needs-validation" novalidate>
                          <div class="form-group">
                            <label for="email">Work Email address</label>
                            <input type="email" class="form-control" id="email" aria-describedby="emailHelp" required>
                            <div class="invalid-feedback">Please provide a valid email address.</div>
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="1" id="subscribe" checked>
                            <label class="form-check-label" for="subscribe">
                                Subscribe me to GitLab's monthly newsletter
                            </label>
                          </div>
                          <button type="submit" class="btn btn-primary">Remind Me About the Webcast</button>
                        </form>
                    </div>

                </div>

            </div>

        <!--</div>-->

    </div>

</section>

<%= partial "partials/footer" %>
